@media print { 
    a[href]:after {
	    content: none !important;
	  }

	.container {
		width: 1360px !important;
	}

	.navbar {
        display: block;
    }

    .navbar img {
    	width: 20px !important;
    }
    
    @page {
		size: 330mm 427mm;
	}
}
